/* AOS animations */
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin 'daisyui' {
    themes: light --default, dark --prefersdark, cmyk;
}

/* 5) Tailwind utilities */
@tailwind utilities;

#main-button {
    color: aliceblue;
    border-color: aliceblue;
    margin-top: 30px;
}

#main-button:hover {
    color: black;
    background-color: aliceblue;
}

#hero-text {
    color: aliceblue;
}

#join{
    padding: 0 2.5em 0 2.5em;
    border: 3px solid;
}

#iban-box{
    max-width: 500px;
}